<div class="login-container">

  <div *ngIf="errorMessage" class="alert error-alert">
    {{ errorMessage }}
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <!-- Username Field -->
    <div class="form-group">

      <div>
        <label prejudices for="username">Username</label>
      </div>

      <div>
        <input id="username" type="text" formControlName="username"
          [class.is-invalid]="f['username'].touched && f['username'].invalid" placeholder="Enter your user name" />
      </div>

      <div *ngIf="f['username'].touched && f['username'].errors" class="invalid-feedback">
        <small *ngIf="f['username'].errors['required']">Username is required.</small>
        <small *ngIf="f['username'].errors['username']">Please enter a valid username.</small>
      </div>
    </div>

    <!-- Password Field -->
    <div class="form-group">

      <div>
        <label for="password">Password</label>
      </div>

      <div>
        <input id="password" type="password" formControlName="password"
          [class.is-invalid]="f['password'].touched && f['password'].invalid" placeholder="Enter your password" />
      </div>

      <div *ngIf="f['password'].touched && f['password'].errors" class="invalid-feedback">
        <small *ngIf="f['password'].errors['required']">Password is required.</small>
        <small *ngIf="f['password'].errors['minlength']">Password must be at least 6 characters long.</small>
      </div>
    </div>

    <!-- Submit Button -->
    <div>
      <button type="submit" [disabled]="isLoading">
        {{ isLoading ? 'Logging in...' : 'Sign In' }}
      </button>
    </div>
  </form>
</div>